{% extends 'catalog/home.html' %}
{% load tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <img src="{{ products.image | media_filter}}">
                    <h4 class="my-0 font-weight-normal">{{ object.category }}</h4>
                    <h4 class="my-0 font-weight-normal">Название: {{ object.name }}</h4>
                    <h4 class="my-0 font-weight-normal">Описание: {{ object.description}}</h4>
                    <h4 class="my-0 font-weight-normal">Просмотров: {{ object.views_counter }}</h4>
                </div>
                <div class="card-body">

                    </ul>
                    <a type="submit" class="btn btn-lg btn-block btn-outline-primary"href="{% url 'blog:blog_update' blog.pk %}">Редактировать</a>
                    <a type="submit" class="btn btn-lg btn-block btn-outline-primary"href="{% url 'blog:blog_delete' blog.pk %}">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}