{% extends 'catalog/home.html' %}
{% load tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <img src="{{ products.image | media_filter}}">
                    <h4 class="my-0 font-weight-normal">{{ product.category }}</h4>
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                    <h4 class="my-0 font-weight-normal">{{ product.description }}</h4>
                    <h4 class="my-0 font-weight-normal">Цена {{ product.price }}$</h4>
                </div>
                <div class="card-body">

                    </ul>
                    <a type="submit" class=" btn btn-lg btn-block btn-outline-primary" href="{}">Купить</a>
                    <a type="submit" class="btn btn-lg btn-block btn-outline-primary"href="{}">Редактировать</a>
                    <a type="submit" class="btn btn-lg btn-block btn-outline-primary"href="{}">Удалить</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}