{% extends 'catalog/home.html' %}
{% load tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <img src="{{ products.image | media_filter}}">
                    <h4 class="my-0 font-weight-normal">{{ object.category }}</h4>
                    <h4 class="my-0 font-weight-normal">Название: {{ object.name }}</h4>
                    <h4 class="my-0 font-weight-normal">Описание: {{ object.description}}</h4>
                    <h4 class="my-0 font-weight-normal">Цена: {{ object.price }}$</h4>
                    <h4 class="my-0 font-weight-normal">Просмотров: {{ object.views_counter }}</h4>
                    <li>Автор - {{ product.author }}</li>
                </div>
                <div class="card-body">
                    </ul>
                    {% if user.is_authenticated %}
                    <a type="submit" class=" btn btn-lg btn-block btn-outline-primary" href="{#}">Купить</a>
                    {% if perms.catalog.may_cancel_publication_product and perms.catalog.can_change_description_product and perms.catalog.can_change_category_product or user == product.author %}
                       <a type="submit" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product_update' product.pk %}">Редактировать</a>
                    {% endif %}
                    <a type="submit" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
